.submitButton {
    background: transparent;
    color: #5b5b5b;
    cursor: pointer;
    outline: none;
    border: none;
    float: right;
}

.buttonContainer {
    width: 100%;
    padding: 10px 0;
}